@model List<BlogApp.Models.BlogViewModel>

@{
    ViewData["Title"] = "Home Page";
    var categories = ViewBag.Categories as List<BlogApp.Models.CategoryViewModel>;
    var selectedCategory = ViewBag.SelectedCategory as string;
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_CategoryPartial", categories) 
    </div>
    <div class="col-md-9">
        
        <h2>@(string.IsNullOrEmpty(selectedCategory) ? "All Blogs" : $"{selectedCategory} Blogs")</h2> 
       @Html.Partial("_BlogListPartial", Model) 
        </div>
    </div>
</div>
