@model ForgotPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />

    <h2>Password Reset</h2>
    <form method="post">
        <label>Enter Your Email Address</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">Send Password Reset Link</button>
    </form>

</div>